/* 图标库引用（如果需要） */
@import url('https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css');

.site-button-ghost-wrapper {
  padding: 16px;
  background: rgb(190, 200, 200);
}

html {
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
}

.custom-carousel-item {
  margin: 0;
  height: 160px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}

.ant-doc-demo-box-demo .ant-row > div:not(.gutter-row):nth-child(2n + 1) {
  background: #1677ffbf;
}

.ant-doc-demo-box-demo .ant-row > div:not(.gutter-row) {
  padding: 16px 0;
  background: #1677ff;
}

.ant-doc-demo-box-demo .ant-row > div {
  min-height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #fff;
  text-align: center;
  border-radius: 0;
}
